<form>
    <mat-form-field class="w-100" appearance="fill">
        <mat-label i18n="@@interpolated-search-label">Search {{searchBarLabel}}</mat-label>
        <input type="text" #searchInput matInput [formControl]="formControl" [matAutocomplete]="mainListSearch">
        <button *ngIf="searchInput.value.length > 0" matSuffix mat-icon-button aria-label="Clear"
            (click)="searchInput.value=''">
            <mat-icon class="text-secondary">close</mat-icon>
        </button>

        <mat-autocomplete class="main-search" #mainListSearch="matAutocomplete"
            [displayWith]="getSelectedLabel.bind(this)" (optionSelected)='onOptionSelected($event.option.value)'>
            <mat-option *ngFor="let item of filteredItems" [value]="item">
                {{getOptionsLabel(item)}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>