<form [formGroup]="loginForm" (ngSubmit)="loginFormOnSubmit()">
    <p>
        <app-input-clear [_label]="authStr.common.email" [_formControl]="emailFC" _type="email"
            [getErrorMsg]="getEmailErrorMsg"></app-input-clear>
    </p>
    <p>
        <app-input-clear [_label]="authStr.common.pword" [_formControl]="passwordFC" 
        [_hasPwordToggle]="true" [getErrorMsg]="getPwordErrorMsg"></app-input-clear>
    </p>
    <a [routerLink]="forgotPwordPath">
        <p class="small">{{authStr.forgot_pword.title}}</p>
    </a>
    <button class="w-100" mat-raised-button type="submit" color="primary">{{authStr.login.title}}</button>
</form>