<div class="h-100 row align-items-center">
    <mat-card class="col-8 col-sm-6 col-md-5 col-lg-3 mx-auto my-auto">
        <mat-card-title i18n="@@login_title">Login</mat-card-title>
        <mat-card-subtitle i18n="@@login_desc">Welcome to EdgeWise. Please login to continue</mat-card-subtitle>
        <mat-card-content>
            <form (ngSubmit)="loginFormOnSubmit()">
                <p>
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label i18n="@@login_email_title">Email</mat-label>
                        <input matInput [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getEmailErrorMsg()}}</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label i18n="@@login_pword_title">Password</mat-label>
                        <input matInput [formControl]="pword" required type="password">
                        <mat-error *ngIf="pword.invalid">{{getPwordErrorMsg()}}</mat-error>
                    </mat-form-field>
                </p>
                <a href="{{forgotPwordPath}}"><p class="small" i18n="@@login_forgot_pword">Forgot password</p></a>
                <button class="w-100" mat-raised-button type="submit" color="primary" i18n="@@login_title">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>