<div class="h-100 row">
    <mat-card class="col-8 col-sm-6 col-md-5 col-lg-3 mx-auto mt-auto">
        <mat-card-title i18n="@@login_title">Login</mat-card-title>
        <mat-card-subtitle class="mt-1" i18n="@@login_desc">Welcome to DeltaWise. Please login to continue
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="loginFormOnSubmit()">
                <p>
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label i18n="@@login_email_title">Email</mat-label>
                        <input matInput #emailInput [formControl]="emailFC" formControlName="email" required>
                        <button type="button" *ngIf="emailInput.value.length > 0" matSuffix mat-icon-button aria-label="Clear"
                            (click)="emailInput.value=''">
                            <mat-icon class="text-secondary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="emailFC.invalid">{{getEmailErrorMsg()}}</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label i18n="@@login_pword_title">Password</mat-label>
                        <input matInput #pwrdInput [formControl]="passwordFC" formControlName="password" required type="password">
                        <button type="button" *ngIf="pwrdInput.value.length > 0" matSuffix mat-icon-button aria-label="Clear"
                            (click)="pwrdInput.value=''">
                            <mat-icon class="text-secondary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.controls['password'].hasError">{{getPwordErrorMsg()}}</mat-error>
                    </mat-form-field>
                </p>
                <a href="{{forgotPwordPath}}">
                    <p class="small" i18n="@@login_forgot_pword">Forgot password</p>
                </a>
                <button class="w-100" mat-raised-button type="submit" color="primary"
                    i18n="@@login_title">Login</button>
            </form>
        </mat-card-content>
    </mat-card>

    <app-footer class="mt-auto"></app-footer>
</div>