<div>
    <h3 i18n="@@navigation_title">
        <a routerLink="./" (click)="clearSearchBar()">{{getRouterTitle()}}</a>
        {{getSeparator()}}
        <a routerLink="details/{{getCompanyIdFromRoute()}}">{{getRouterSubtitle()}}</a>
    </h3>
    <app-search-bar #searchBar [searchBarLabel]="searchBarLabel" [getOptionsLabel]="getOptionsLabel"
        [getSelectedLabel]="getOptionsLabel" [onOptionSelected]="onOptionSelected">
    </app-search-bar>
</div>
<div>
    <router-outlet></router-outlet>
</div>