<app-ph-est-table-eqt *ngIf="isLoadingTable && displayedData.length == 0"></app-ph-est-table-eqt>

<div *ngIf="displayedData.length != 0 || !isLoadingTable">
  <div class="row align-items-center">
    <div class="col-12 col-md-8 col-lg-9 col-xl-10">
      <div class="d-flex align-items-center">
        <h1 class="my-auto">{{getCompanyTitle()}}</h1>
        <button class="ms-2" mat-icon-button>
          <mat-icon class="scale-08">add_circle</mat-icon>
        </button>
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3 col-xl-2">
      <app-date-range-picker class="ms-auto" [sdr]="selectedDateRangeBS.value"
        (onDateRangeSelected)="onSelectDateRange($event)">
      </app-date-range-picker>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table align-middle" mat-table [dataSource]="displayedData">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th class="px-3 text-center text-black table-light align-middle fw-normal"
          [ngClass]="getHeaderCellClass(column)" mat-header-cell *matHeaderCellDef>
          {{ getHumanisedHeaderCellValue(column) }}
        </th>
        <td class="px-3" [ngClass]="getNonHeaderCellClass(element.name, column)" mat-cell
          *matCellDef="let element; let index = index;" (click)="showEstimateDialog(element.name, column)"
          (mouseover)="cellOnMouseOver(element.name, column)">
          {{ getHumanisedCellValue(column, element[column]) }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <p class="text-center text-secondary">{{tableStr}}</p>
</div>