<mat-progress-bar *ngIf="isLoadingDialog" mode="indeterminate"></mat-progress-bar>

<div class="px-4 pt-3 pb-4">
  <h2 mat-dialog-title>{{data.title}}</h2>

  <form [formGroup]="inputEstimateForm" (submit)="formOnSubmit()" (keydown.enter)="formEnterFunc($event)">
    <mat-dialog-content class="mat-typography">
      <h4 mat-dialog-subtitle>{{data.subTitle}}</h4>

      <app-input-clear [_label]="estStr.your_est" [_formControl]="estimateFC" _placeholder="3.56" _name="estimate"
        [getErrorMsg]="getEstimateErrorMsg"></app-input-clear>

      <div [ngClass]="companyEstimate?.record_exist? 'd-block' : 'd-none'">
        <p>{{getLastEstimateDateTime()}}</p>

        <app-date-range-picker class="w-100" [sdr]="data.sdr.value" (onDateRangeSelected)="onDateRangeSelected($event)">
        </app-date-range-picker>

        <p>{{getNumberOfContStr()}} {{isDebug? '('+companyEstimate?.no_of_contributors+')' : ''}}</p>

        <p class="mb-0 text-secondary text-center" i18n="@@median_diff">
          <small>
            Your estimate is <b>{{getMedianPercDiffSignStr()}}</b> than the median by {{getMedianPercDiffRangeStr()}}
            than <b>{{getMedianPercDiffStr()}}%</b>
          </small>
        </p>
      </div>

      <p class="text-secondary text-center">
        <small>{{getInputTrialStr()}}
          <mat-icon class="cursor-pointer scale-05 align-middle" #inputTrialTooltip="matTooltip" aria-hidden="false"
            aria-label="Input trials reset rules" i18n-matTooltip="@@input_trials_reset"
            matTooltip="Input trials reset every 1st of the month">
            info
          </mat-icon>
        </small>
      </p>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button class="ms-auto" mat-raised-button mat-dialog-close>{{confStr.close}}</button>
      <button mat-raised-button cdkFocusInitial color="primary" type="submit"
        *ngIf="!isSubmitBtnDisabled()">{{confStr.submit}}</button>
    </mat-dialog-actions>
  </form>
</div>