<div class="h-100 row">
    <mat-card class="col-8 col-sm-6 col-md-5 col-lg-3  mx-auto mt-auto">
        <mat-card-title>{{ getCardTitle() }}</mat-card-title>
        <mat-card-subtitle class="mt-1 d-flex align-items-center">
            <p class="m-0">{{ getCardSubTitle() }}</p>
            
            <mat-icon class="scale-08 cursor-pointer" *ngIf="shouldShowTooltip()" #pwordTooltip="matTooltip"
                matTooltipClass="multiline-tooltip" aria-hidden="false" aria-label="Password rules"
                [matTooltip]="getPwordTooltipText()">
                info
            </mat-icon>
        </mat-card-subtitle>
        <mat-card-content>
            <router-outlet></router-outlet>
            <!--             
            <form (ngSubmit)="resetPwordOnSubmit()">
                <p>
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label i18n="@@reset_pword_new_pword">New password (e.g.: Testing123!)</mat-label>
                        <input type="password" #newPwrdInput matInput [formControl]="newPwordFC" required>
                        <button type="button" *ngIf="newPwrdInput.value.length > 0" matSuffix mat-icon-button
                            aria-label="Clear" (click)="newPwrdInput.value=''">
                            <mat-icon class="text-secondary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="newPwordFC.invalid">{{getNewPwordErrorMsg()}}</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label i18n="@@reset_pword_confirm_pword">Confirm password</mat-label>
                        <input type="password" #confPwrdInput matInput [formControl]="confirmPwordFC" required>
                        <button type="button" *ngIf="confPwrdInput.value.length > 0" matSuffix mat-icon-button
                            aria-label="Clear" (click)="confPwrdInput.value=''">
                            <mat-icon class="text-secondary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="confirmPwordFC.invalid">{{getConfirmPwordErrorMsg()}}</mat-error>
                    </mat-form-field>
                </p>
                <button class="w-100" mat-raised-button type="submit" color="primary"
                    i18n="@@login_title">Submit</button>
            </form> -->
        </mat-card-content>
    </mat-card>

    <app-footer class="mt-auto"></app-footer>
</div>