<mat-expansion-panel [expanded]="isWatchlistExpanded" (opened)="onPanelExpanded()" (afterCollapse)="onPanelCollapsed()">
    <mat-expansion-panel-header>
        <mat-progress-bar class="position-absolute fixed-top" *ngIf="isLoadingWatchlist" mode="indeterminate">
        </mat-progress-bar>

        <div class="d-flex align-items-center">
            <h2 class="my-auto me-2">{{watchlistStr.plural}}</h2>
            <button *ngIf="shouldShowWLEditBtn()" class="" mat-icon-button
                (click)="isEditMode = !isEditMode; $event.stopPropagation()">
                <mat-icon class="scale-08">{{isEditMode? 'done' : 'edit'}}</mat-icon>
            </button>
        </div>
    </mat-expansion-panel-header>

    <div class="ph-col-120" *ngIf="isLoadingWatchlist && watchlists.length == 0">
        <div class="ph-row">
            <div class="ph-col-8 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-12 empty"></div>
        </div>
    </div>

    <app-ph-list *ngIf="isLoadingWatchlist && watchlists.length == 0"></app-ph-list>

    <mat-chip-list cdkDropList cdkDropListOrientation="horizontal">
        <div class="scrollable-chip-list pb-2" *ngIf="shouldShowWatchlists()">
            <mat-chip color="primary" class="cursor-pointer" cdkDrag *ngFor="let watchlist of watchlists"
                (removed)="removeChipOnClick(watchlist)" (click)="chipOnClick(watchlist)"
                [selected]="selectedWatchlist.id == watchlist.id">
                {{watchlist.name}}
                <button *ngIf="isEditMode" matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <mat-chip class="cursor-pointer" *ngIf="!isLoadingWatchlist && isWatchlistExpanded"
                (click)="showNewWatchlistDialog(); $event.stopPropagation()"> + 
            </mat-chip>
        </div>
    </mat-chip-list>

    <div class="mb-3" *ngIf="shouldShowWLItems()">
        <mat-list role="list">
            <div mat-subheader>{{selectedWatchlist.name}}</div>

            <mat-list-item class="wl-rl-item text-secondary cursor-pointer" (click)="listItemOnClick(item)"
                *ngFor="let item of selectedWatchlist.children">
                <div class="d-flex align-items-center">
                    <p class="my-0 me-2">{{item.name}} ({{item.id}})</p>
                    <mat-icon class="text-secondary scale-08" *ngIf="isEditMode">cancel</mat-icon>
                </div>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="m-5 text-center" [ngClass]="isWatchlistsEmpty()? 'cursor-pointer' : ''" (click)="emptyWatchlistOnClick()" *ngIf="shouldShowEmptyUx()">
        <mat-icon class="scale-2">
            {{isWatchlistsEmpty()? "playlist_add" : "search"}}
        </mat-icon>
        <p class="mt-3">
            {{isWatchlistsEmpty()? watchlistStr.no_watchlists : watchlistStr.no_items}}
            <br>
            {{isWatchlistsEmpty()? watchlistStr.click_add_new_wl : tapSearchStr}}
        </p>
    </div>
</mat-expansion-panel>