<div class="row">
    <div class="mb-3 col-12">
        <mat-expansion-panel (opened)="onCommoListExpanded()">
            <mat-progress-bar class="position-absolute fixed-top" *ngIf="isLoadingDashBoard" mode="indeterminate">
            </mat-progress-bar>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2 class="my-auto">{{commoStr.list_of_commo}}</h2>
                </mat-panel-title>
                <mat-panel-description fxHide.lt-md>{{commoStr.list_of_commo_desc}}</mat-panel-description>
            </mat-expansion-panel-header>

            <!-- TODO: hardcoded table -->
            <!-- agri -->
            <mat-expansion-panel class="my-3">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3 class="my-auto" i18n="@@agricultural">Agricultural</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <h2 i18n="@@agri_sub_grains">Grains, food and fiber</h2>
                <app-dash-table [displayedColumns]="displayedCols1" [displayedData]="agri1DisplayedData"
                    [getHumanisedHeaderCellValue]="getHumanisedHeaderCellValue"></app-dash-table>

                <h2 i18n="@@agri_sub_livestock">Livestock and meat</h2>
                <app-dash-table [displayedColumns]="displayedCols2" [displayedData]="agri2DisplayedData"
                    [getHumanisedHeaderCellValue]="getHumanisedHeaderCellValue"></app-dash-table>
            </mat-expansion-panel>

            <!-- energy -->
            <mat-expansion-panel class="mb-3">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3 class="my-auto" i18n="@@energy">Energy</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-dash-table [displayedColumns]="displayedCols3" [displayedData]="energyDD"
                    [getHumanisedHeaderCellValue]="getHumanisedHeaderCellValue"></app-dash-table>
            </mat-expansion-panel>

            <!-- forest prod -->
            <mat-expansion-panel class="mb-3">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3 class="my-auto" i18n="@@forest_prod">Forest products</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-dash-table [displayedColumns]="displayedCols3" [displayedData]="forestDD"
                    [getHumanisedHeaderCellValue]="getHumanisedHeaderCellValue"></app-dash-table>
            </mat-expansion-panel>

            <!-- metals -->
            <mat-expansion-panel class="mb-3">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3 class="my-auto" i18n="@@metals">Metals</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <h2 i18n="@@metal_sub_industrial">Industrial</h2>
                <app-dash-table [displayedColumns]="displayedCols2" [displayedData]="metals1DD"
                    [getHumanisedHeaderCellValue]="getHumanisedHeaderCellValue"></app-dash-table>

                <h2 i18n="@@metal_sub_precious">Precious</h2>
                <app-dash-table [displayedColumns]="displayedCols2" [displayedData]="metals2DD"
                    [getHumanisedHeaderCellValue]="getHumanisedHeaderCellValue"></app-dash-table>
            </mat-expansion-panel>

            <!-- other -->
            <mat-expansion-panel class="mb-3">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3 class="my-auto" i18n="@@other">Other</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-dash-table [displayedColumns]="displayedCols4" [displayedData]="othersDD"
                    [getHumanisedHeaderCellValue]="getHumanisedHeaderCellValue"></app-dash-table>
            </mat-expansion-panel>

        </mat-expansion-panel>
    </div>

    <app-recent-search class="mb-3 col-12 col-sm-12 col-md-6"></app-recent-search>
    <app-watchlist class="col-12 col-sm-12 col-md-6"></app-watchlist>
</div>