<h2 mat-dialog-title>{{watchlistStr.create_new}}</h2>
<form [formGroup]="newWatchlistForm" (submit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
        <app-input-clear [_label]="watchlistStr.watchlist_name" [_formControl]="nameFC" _name="addNewWatchlist"
            [getErrorMsg]="getNameErrorMsg" [_shouldCapitalize]="true">
        </app-input-clear>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="ms-auto" mat-raised-button mat-dialog-close>{{confStr.cancel}}</button>
        <button mat-raised-button cdkFocusInitial color="primary" type="submit">{{confStr.submit}}</button>
    </mat-dialog-actions>
</form>