<mat-progress-bar *ngIf="isLoadingDialog" mode="indeterminate"></mat-progress-bar>

<div class="px-4 pt-3 pb-4">
    <h2 mat-dialog-title>{{getDialogTitle()}}</h2>
    <form [formGroup]="requestAddForm" (submit)="onSubmit()">
        <mat-dialog-content class="mat-typography">
            <app-input-clear [_label]="getInputLabel()" [_formControl]="nameFC" _name="requestAddName"
                [getErrorMsg]="getNameErrorMsg" [_shouldCapitalize]="true">
            </app-input-clear>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button class="ms-auto" mat-raised-button mat-dialog-close>{{confStr.cancel}}</button>
            <button mat-raised-button cdkFocusInitial color="primary" type="submit">{{confStr.submit}}</button>
        </mat-dialog-actions>
    </form>
</div>