<!-- <div class="ph-item clean"> -->
<div class="ph-col-12">
  <div class="ph-row my-3">
    <div class="ph-col-6"></div>
    <div class="ph-col-6 empty"></div>
    <div class="ph-col-12 empty big"></div>

    <div class="ph-col-6"></div>
    <div class="ph-col-6 empty"></div>
    <div class="ph-col-12 empty big"></div>

    <div class="ph-col-6"></div>
    <div class="ph-col-6 empty"></div>
    <div class="ph-col-12 empty big"></div>

    <div class="ph-col-6"></div>
    <div class="ph-col-6 empty"></div>
    <div class="ph-col-12 empty big"></div>

    <div class="ph-col-6"></div>
    <div class="ph-col-6 empty"></div>
    <div class="ph-col-12 empty big"></div>

    <div class="ph-col-6"></div>
    <div class="ph-col-6 empty"></div>
    <div class="ph-col-12 empty big"></div>

    <div class="ph-col-6"></div>
    <div class="ph-col-6 empty"></div>
    <div class="ph-col-12 empty big"></div>

    <div class="ph-col-6"></div>
  </div>
</div>
<!-- </div> -->