<app-ph-est-table-single *ngIf="shouldShowTablePH(estTable)"></app-ph-est-table-single>

<div class="row align-items-center" *ngIf="!shouldShowTablePH(estTable)">
  <div class="col-12 col-md-8 col-lg-9 col-xl-10">
    <div class="d-flex align-items-center">
      <h1 class="my-auto">{{getCryptoTitle()}}</h1>
      <button class="ms-2" mat-icon-button>
        <mat-icon class="scale-08">add_circle</mat-icon>
      </button>
    </div>
  </div>

  <div class="col-12 col-md-4 col-lg-3 col-xl-2">
    <app-date-range-picker class="ms-auto" [sdr]="selectedDateRangeBS.value"
      (onDateRangeSelected)="onSelectDateRange($event)">
    </app-date-range-picker>
  </div>
</div>

<div [hidden]="shouldShowTablePH(estTable)">
  <app-est-table-single #estTable [module]="module" [id]="cryptoId" [title]="getCryptoTitle()"
    [selectedDateRangeBS]="selectedDateRangeBS"></app-est-table-single>

  <p class="text-secondary">{{tableStr}}</p>
</div>