/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    background: linear-gradient(90deg, rgba(87, 80, 201, 1) 0%, rgba(44, 121, 162, 1) 35%, rgba(98, 213, 237, 1) 100%);
}

// don't underline links/btns on hover
a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    text-decoration: none !important;
}

button:focus,
mat-list-item:focus {
    outline: none !important;
    box-shadow: none !important;
}

// change cursor to pointer (finger)
.cursor-pointer {
    cursor: pointer !important;
}

.cursor-mouse {
    cursor: crosshair !important;
}

// multi-line for matToolTip
.multiline-tooltip {
    white-space: pre-line;
}

/**
* bootstrap overrides/additions
**/
// full width/height
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

/**
* table styling
**/
.estimates-table {
    width: 100%;
    overflow-x: auto;
}

.estimates-table th, .estimates-table td {
    white-space: nowrap;
    border: 1px solid;
}