/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    background: linear-gradient(90deg, rgba(87, 80, 201, 1) 0%, rgba(44, 121, 162, 1) 35%, rgba(98, 213, 237, 1) 100%);
}

// don't underline links/btns on hover
a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    text-decoration: none !important;
}

button:focus,
mat-list-item:focus {
    outline: none !important;
    box-shadow: none !important;
}

// change cursor to pointer (finger)
.cursor-pointer {
    cursor: pointer !important;
}

.cursor-mouse {
    cursor: crosshair !important;
}

// multi-line for matToolTip
.multiline-tooltip {
    white-space: pre-line;
}

/**
* watchlist and recent list
**/
.wl-rl-item:hover {
    color: black !important;
}

/**
* est table styling
**/
.est-table-single {
    width: 50% !important;
}

.est-table-hover {
    background-color: rgb(230,247,255) !important;
}

.est-table-first-col {
    color: rgb(45,127,180);
}

.est-table-data-col {
    color: rgb(80, 79, 79);
}

/**
* est dialog styling
**/
.est-dialog {
    mat-dialog-container {
        padding: 0;
    }
}

/**
* search autocomplete dropdown height
**/
.main-search {
    max-height: 70vh !important;
}

/**
* icon scaling
**/
.scale-08 {
    transform: scale(0.8);
}

.scale-05 {
    transform: scale(0.5);
}

.scale-03 {
    transform: scale(0.3);
}

.scale-2 {
    transform: scale(2);
}