<div class="row">
  <div class="col-sm-12 col-md-6">
    <table class="table align-middle" mat-table [dataSource]="displayedData">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th class="px-3 text-center text-black table-light align-middle fw-normal" mat-header-cell *matHeaderCellDef>
          {{ getHumanisedHeaderCellValue(column) }}
        </th>
        <td class="px-3" [ngClass]="getNonHeaderCellClass(element.name, column)" mat-cell *matCellDef="let element"
          (mouseover)="cellOnMouseOver(element.name, column)" (click)="showEstimateDialog(element.name, column)" >
          {{ getHumanisedCellValue(column, element[column]) }}
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>