<div class="h-100 d-flex flex-column">
  <mat-toolbar class="py-2" fxLayout="row">
    <a class="h-100 me-3" href="/">
      <img class="h-100" src="/assets/img/logo-words.png" alt="DeltaWise" />
    </a>

    <a class="toolbar-tab-title p-0" ngClass="{{getToolbarTitleClass(equitiesPath)}}" [routerLink]="equitiesPath"
      fxHide.xs>{{eqtPluralStr}}</a>
    <a class="toolbar-tab-title mx-3 p-0" ngClass="{{getToolbarTitleClass(commoditiesPath)}}"
      [routerLink]="commoditiesPath" fxHide.xs>{{commoPluralStr}}</a>
    <a class="toolbar-tab-title p-0" ngClass="{{getToolbarTitleClass(cryptoPath)}}" [routerLink]="cryptoPath"
      fxHide.xs>{{cryptoPluralStr}}</a>

    <div class="ms-auto" [matMenuTriggerFor]="userMenu">
      <button *ngIf="user.avatar !== undefined" mat-mini-fab color="primary">
        <span>{{user.avatar}}</span>
      </button>
      <span class="ms-2 toolbar-user-name cursor-pointer">{{user.user_name}}</span>
    </div>
    <mat-menu #userMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="equitiesPath" ngClass="{{getToolbarTitleClass(equitiesPath)}}" fxHide
        fxShow.xs>{{eqtPluralStr}}</button>
      <button mat-menu-item [routerLink]="commoditiesPath" ngClass="{{getToolbarTitleClass(commoditiesPath)}}" fxHide
        fxShow.xs>{{commoPluralStr}}</button>
      <button mat-menu-item [routerLink]="cryptoPath" ngClass="{{getToolbarTitleClass(cryptoPath)}}" fxHide
        fxShow.xs>{{cryptoPluralStr}}</button>
      <mat-divider fxHide fxShow.xs></mat-divider>
      <button mat-menu-item (click)="settingsOnClick()">{{settingsStr}}</button>
      <button mat-menu-item (click)="logoutOnClick()">{{logoutStr}}</button>
    </mat-menu>
  </mat-toolbar>

  <div class="container flex-fill my-3">
    <mat-card class="bg-white p-4 flex-fill h-100">
      <router-outlet></router-outlet>
    </mat-card>
  </div>

  <app-footer></app-footer>
</div>